extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/login")
        label Username :
        input#inputUsername(type="text", placeholder="username", name="username")
        br
        label Password : 
        input#inputPassword(type="text", placeholder="password", name="password")
        br
        button#btnLogin(type="submit") Login
        button#btnAddUser(type="button") Add User
