extends layout

block content
    h1= title
    input#inputMessageBox(value="")
    form#formAddUser
        label Username :
        input#inputUsername(type="text", placeholder="Username", name="username")
        br
        label Password : 
        input#inputPassword(type="text", placeholder="Password", name="password")
        br
        button#btnLogin(type="button") Login
        button#btnAddUser(type="button") Add User
