extends layout

block content
    h1= title
    textArea#textAreaWelcome
        | Welcome #{username}
        | You have logged in #{count} times.
    br
    form#formLogout(method="get", action="/logout")
        button#btnLogout(type="submit") Logout
